# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Sistema e arquivos temporários
.DS_Store

# Builds e coverage
dist
dist-ssr
coverage
*.local

# Cypress
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor build outputs
android/
ios/
electron/
www/

# Capacitor config files
capacitor.config.json

# Android build files
.gradle/
build/
*.apk
output.json
local.properties
google-services.json
